---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="mx-auto max-w-5xl px-6 py-16 lg:px-8 lg:py-24">
		<h1 class="text-3xl font-semibold text-neutral-900 sm:text-4xl">Experience</h1>
	</main>
</Layout>


